body  {
    background: honeydew;
    animation: fade-in 2s ease;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 0.333fr);
    border-bottom: 0.5px solid black;
    margin-bottom: 0.5vh;
}

img {
    max-width: 100%; max-height: 100%;
}

.ovp {
    display: none;
}

.o-img {
    min-width: 52vw; min-height: 96vh;
}

.overlay, .overlay-info {
    display: none;
    position: fixed;
    left: 24vw;
    width: 52vw;
    height: 96vh;
}

.overlay-info {
    background: honeydew;
    text-indent: 50px;
    border: solid 0.25px black;
    animation: fade-in 0.8s ease;
}

.overlay-txt {
    display: none;
    position: fixed;
    width: 23.5vw;
    height: 35vh;
    left: 76.1vw;
    top: 64vh;
    background:  honeydew;
    text-indent: 20px;
}

.grid {
    display: grid;
    height: 96vh;
    grid-template-columns: 0.45fr repeat(40, 0.025fr) 0.45fr;
    grid-auto-rows: 0.025fr;
}

.g-item {
    border: solid 0.25px black;
    font-size: 10pt;
    padding: 2.5px;
}

.g-title {
    background: none;
}

.g-title:hover {
    background: black;
    color: honeydew;
    transition: all 0.8s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}